@{
    ViewBag.Title = "About";
}

<div class="flexWrapper">
    <div class="flexSize2 innerWrapper">
        <h2>@ViewBag.Title.</h2>
        <h3>@ViewBag.Message</h3>

        <p>Hier lesen sie die About-Page.</p>
        </div>
    </div>
