@{
        Layout = "";
}

Content-Type: text/html; charset=utf-8

<html>
<body>
    <p>Hallo,</p>

    <p>Ihnen wurde ein neuer Vertrag zugeteilt.</p>

    <p>
        Die Pflichtfelder des Vertrages muessen gesetzt werden
        und eine digitale Version des Vertrages als Datei
        angehaengt werden
    </p>

    <p>

    <a href="http://soprot7.azurewebsites.net/Contract/CreateGeneral/ViewBag.contractId">Hier gehts direkt zum Vertrag</a></p>
</body>
</html>