
Content-Type: text/html; charset=utf-8

<html>
<body>
    <h4>Hallo,</h4>

    <p>eine ihrer Aufgaben laeft bald ab.</p>
    <p>Bitte ueberpruefen Sie ihre Aufgaben und unternehmen
    die Notwendigen Schritte.</p>
</body>
</html>