@{
        Layout = "";
}

Content-Type: text/html; charset=utf-8

<html>
<body>
    <h4>Hallo,</h4>

    <p>anbei erhalten sie eine woechentliche Uebersicht ihrer Vertraege</p>
    
</body>
</html>