/***************StyleClasses****************/

.iconStyle{
      color: transparent !important;
      overflow: hidden;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      /*display: block;
      float: left;
      width: auto !important;
      max-height: 20px;
      max-width: 20px;*/
}

.actionBtn{
      margin: 10px 0px 10px 10px;
      display: block;
      float: left;
      height: 30px;
      width: 30px;
      line-height: 30px;
      border: none;
  }

.textBtn{
    margin: 10px 0px 10px 10px;
    padding: 0px 10px 0px 10px;
    display: block;
    height: 40px;
    border: none;
    font-size: 14px;
    text-align: center;
    vertical-align:middle;
    line-height: 40px;
    border-radius: 6px;
    font-weight: 500;
    vertical-align: middle;

}

.btn-default{
    border: 1px solid black;
}

.btnTableSize {
    background-size: auto 90%;
}

.link{
    font-weight: 500; 
}

.link:hover{
    text-decoration: underline;
}

.rightFloat{
    float: right;
}

.leftFloat{
    float: left;
}

.scrollable{
    overflow: auto;
    width: 100%;
}

.inlineBlock{
    display: inline-block;
}

.max-width{
	width: 100%;
	margin: 0px auto;
    overflow: hidden;
}

.top-navigation{
    height: 40px;
    border: 0;
    padding: 10px 20px 0px 20px !important;
    margin-bottom: 1rem;
}

.top-navigation a , .top-navigation span{
    box-sizing: border-box;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
    overflow: hidden;
    height: 40px;
    line-height: 40px;
    /*padding: 10px 0 10px 0;*/
}

.top-navigation ul li{
    display: inline-block
}

.top-navigation a:hover, .top-navigation a:active, .top-navigation a:focus, .top-navigation.selected, .top-navigation ul .active {
    box-sizing: border-box;
    -moz-box-sizing : border-box;
    border-bottom: solid 4px;
    
}

.innerWrapper{
    padding: 20px;
    overflow: hidden;
    font-size: 16px;
}

.flexWrapper{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    margin-top: -.5rem;
    margin-bottom: -.5rem;
    margin-right: -.5rem;
    margin-left: -.5rem;
}

.flexWrapper > *{
    display: inline-block;
    margin-top: .5rem;
    margin-bottom: .5rem;
    margin-right: .5rem;
    margin-left: .5rem;
}

.flexVertWrapper{
    display: flex;
    flex-wrap: wrap;
    /*height: 100%;
    
    margin-top: -.5rem;
    margin-bottom: -.5rem;*/
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.flexVertWrapper > *{
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.flexSize2{
    flex: 2;
}
.flexSize1{
    flex: 1;
}

.flexSizeMax{
        flex-basis: 100%;
        display: block !important;
}

.bottomWrapper{
    
    position: relative;
    overflow: hidden;
}

.rightInnerWrapper .textBtn{
    font-weight: 500;
    font-size: 14px;
}

.popWindow{
    position: absolute;
    background: #DDD;
    border: 1px solid;
}

/************Input Styles****************/

.form-group{
    padding: 10px 10px 10px 10px;
    margin-bottom: 0px;
}

.control-label{
    /*font-size: 18px;*/
    /*font-weight: 600;*/
    text-align: left;
}

.form-control{
    /*padding: 8px;*/
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    margin-right: 5px;
    /*width: 300px;*/
}

input[type="number"]{
    max-width: 60px;
}

input[type="range"]{
    /*border-bottom-color: black;*/
}

/********Font*******/
.bolder{
    font-weight: bolder;
}

.bold{
    font-weight: bold;
}

.semibold{
    font-weight: 500;
}

.light{
    font-weight: 300;
}

.lighter{
    font-weight: lighter;
}